<a href="https://colab.research.google.com/github/Manojcodedata/Python-basics-codes/blob/main/BASIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter a number: "))
if num%2==0:
  print("even number")
else:
  print("odd number")

enter a number: 3
odd number

In [ ]:
num=int(input("enter a number: "))
if num>0:
  print("number is positive")
else:
  print("number is negative")

enter a number: 10
number is positive

In [ ]:
x=int(input())
y=int(input())
print(x+y)

5
1456328
1456333

In [ ]:
# prime or not
num=int(input())
if num>1:
  for i in range(2,num):
    if num%i==0:
      print("not prime")
      break
  else:
    print("prime")
else:
  print("enter number more than 1")

5
prime

In [ ]:
# palindrome
num=int(input("enter a number"))
temp=num
rev=0
while temp>0:
   rem=temp%10
   rev=rev*10+rem
   temp=temp//10
if num==rev:
  print("palindrome")
else:
  print("not a palindrome")

enter a number121
palindrome

In [ ]:
# fabnocci sequence
n=int(input("enter a number:"))
n1,n2=0,1
n3=0
c=0
print(n1,n2)
while c<n:
  n3=n1+n2
  print(n3)
  n1=n2
  n2=n3
  c+=1

enter a number:10
0 1
1
2
3
5
8
13
21
34
55
89

In [ ]:
# factorial
n=int(input("enter a number:"))
f=1
for i in range(1,n+1):
  f=f*i
print(f)

enter a number:4
24

In [ ]:
# n table
n=int(input("enter a num: "))
for i in range(11):
  x=n*i
  print(n,"*",i,"=",x)

enter a num: 18
18 * 0 = 0
18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

In [ ]:
# print n prime numbers
n=int(input("enter a num:"))
for i in range(2,n+1):
  if i>1:
    for x in range(2,i):
      if i%x==0:
        break
    else:
        print(i)

enter a num:20
2
3
5
7
11
13
17
19

In [ ]:
# print first n prime numbers
n = int(input ("Please, Enter the Lowest Range Value: "))

print ("The Prime Numbers in the range are: ")
for i in range (2,n + 1):
    if i > 1:
        for x in range (2, i):
            if (i % x) == 0:
                break
        else:
            print (i)

Please, Enter the Lowest Range Value: 2
The Prime Numbers in the range are:
2

In [ ]:
# min of numbers
x=int(input())
y=int(input())
z=int(input())
if x<y and x<z:
  print("x is min.")
elif y<z and y<x:
  print("y is min")
elif z<x and z<y:
  print("z is min")

10
5
2
z is min

In [ ]:
# second largest number
x=int(input())
y=int(input())
z=int(input())
a=[x,y,z]
a.sort()
print(a[1])

10
5
6
6

In [ ]:
for i in range(4):
   for x in range(4):
      print("#",end=" ")
   print()

# # # #
# # # #
# # # #
# # # #

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("#",end=" ")
  print()

#
# #
# # #
# # # #
# # # # #

In [ ]:
for i in range(6):
  for j in range(6-i):
    print("*",end=" ")
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
k=0
for i in range(3):
  for j in range(3):
    print(k,end=" ")
    k+=1
  print()

0 1 2
3 4 5
6 7 8

In [ ]:
#print a 3*3 matrix
k=1
for i in range(3):
  for j in range(3):
    print(k,end=" ")
    k+=1
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#add all items in the list
x=[1,2,3,4,5,3,2,1,4,6,7]
sum=0
for i in x:
  sum+=i
print(sum)

38

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n+1):
  if n%i==0:
    print(i)

Enter a number: 10
1
2
5
10

In [ ]:
n=int(input(" Enter a Number : "))
sum=0
for j in range(1,n):
  if n%j==0:
    sum+=j
if sum==n:
  print("perfect number")
else:
  print("not perfect")
if n%2==0:
  print("even")
else:
  print("odd")

 Enter a Number : 15
not perfect
odd

In [ ]:
n=int(input())
sum=0
for j in range(1,n):
  if n%j==0:
    print(j)
    sum+=j
print(sum)

10
1
2
5
8

In [ ]:

for i in range(6):
  for j in range(6-i):
    print("*",end=" ")
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input())
for i in range(n):
  num=1
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  print()

In [ ]:
n=int(input())
num=1
for i in range(n):
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  print()

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(i+1):
    print("*",end=" ")
  print()

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i):
    print(" ",end="")
  for j in range(n-i):
    print("*",end=" ")
  print()

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for j in range(i+1):
    print("*",end=" ")
  print()
for i in range(1,n):
  for j in range(i):
    print(" ",end="")
  for j in range(n-i):
    print("*",end=" ")
  print()

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

In [ ]:
# Harshad number
n=int(input("enter a number more than 9: "))
sum=0
temp=n
if n>9:
  while temp>0:
    rem=temp%10
    sum=sum+rem
    temp=temp//10
  print(sum)
if n%sum==0:
  print("Harshad number")
else:
  print("Not Harshad number")

In [ ]:
n=str(153)
len(n)

3

In [ ]:
# Armstrong number
n=int(input("enter a number : "))
s=n
p=0
q=n
sum=0
while s>0:
  r=s%10
  p+=1
  s=s//10
print("number of digits",p)
while q>0:
  rem=q%10
  sum=sum+rem**p
  q=q//10
print(sum)
if sum==n:
  print("Armstrong number")
else:
  print("Not armstrong number")

enter a number : 153
number of digits 3
153
Armstrong number

In [ ]:
#spy number
n=int(input(" enter a number greater than 9 : "))
a=n
b=n
sum=0
p=1
if n>9:
  while a>0:
    rem=a%10
    sum=sum+rem
    a=a//10
  print(sum)
  while b>0:
    rem=b%10
    p=p*rem
    b=b//10
  print(p)
if sum==p:
  print("SPY number")
else:
  print("Not SPY number")

In [ ]:
#Happy number
n=int(input(" enter a number : "))
sum=0
a=n
while a>1:
  sum=0
  while a>0:
      r=a%10
      sum=sum+r*r
      a=a//10
  a=sum
print(sum)
if sum==1:
  print("Happy number")
else:
  print("Not happy number")

In [ ]:
#Neon number
n=int(input("enter a number : "))
a=n*n
sum=0
while a>0:
  r=a%10
  sum=sum+r
  a=a//10
print(sum)
if sum==n:
  print("Neon number")
else:
  print("not Neon number")

In [ ]:
#Gcd of two numbers using loops
a=int(input("enter first number : "))
b=int(input("enter second number : "))
if a<b:
  n=a
else:
  n=b
for i in range(1,n):
  if a%i==0 and b%i==0:
    hcf=i
print("HCF of numbers",a,b,"is",hcf)

In [ ]:
# GCD of two numbers using "math" package
import math

a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
print("GCD of the given number",a,b)
print(math.gcd(a,b))

In [ ]:
n=int(input("enter a number : "))
for i in range(2,n+1):
  if i>1:
    for x in range(2,i):
      if i%x==0:
        break
    else:
      print(i)

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    pass
print(i,j)

In [ ]:
x=[6]
for i in range(1,7):
  for j in range(1,7):
    print(i,j)